.banner__container {
  padding: 3rem;
}

.banner__container-row{
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.banner__container h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.banner__container h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #000;
}

.banner__container h4 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: #000000;
}

.conference__image img {

    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 10px;
}

/* background-image: linear-gradient(to right top, #000000, #431a21, #842b2f, #c54430, #ff691a);
color: #fff;
padding: 1rem; */

