/* Remove default browser settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE !important;
  color: #DC5F00 !important;
  font-family: "Poppins", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

h1, h2, h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

p, ul, ol {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

em, strong {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.App {
  text-align: center;
  margin-top: 75px;
}


@media screen and (max-width: 990px) {
  .App {
    margin-top: 50px;
  }
}